@font-face{
    font-family:"intro-rust-g-base-2-line";
    src: local("intro-rust-g-base-2-line"), url(./fonts/Intro-Rust/FontsFree-Net-IntroRustG-Base2Line.ttf) format("woff"),
  }
  
  .font-face-header-span {
    font-family:"intro-rust-g-base-2-line"
  }
  