.between {
  text-align: center;
  position: sticky;
  right: 37.8rem;
  background-color: #c2f2dc;
  width: 2rem;
  height: 2.8rem;
  transform: rotate(90deg);
  color: white;
}

.betweenCadLogin {
  position: relative;
  background: none;
  right: 1rem;
  width: 1.6rem;
  height: 4rem;
  transform: rotate(90deg);
  color: #014034;
  margin-right: -2rem;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
