@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

html,
body,
#root {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", "intro-rust-g-base-2-line", sans-serif;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

@font-face{
  font-family:"intro-rust-g-base-2-line";
  src: local("intro-rust-g-base-2-line"), url(./fonts/Intro-Rust/FontsFree-Net-IntroRustG-Base2Line.ttf) format("woff"),
}

.font-face-header-span {
  font-family:"intro-rust-g-base-2-line"
}
