@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

html,
body,
#root {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", "intro-rust-g-base-2-line", sans-serif;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  overflow-y: scroll;
}

colgroup{
  color: #C2F2DC;
}