@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://www.dafontfree.net/embed/aW50cm8tcnVzdC1nLWJhc2UtMi1saW5lJmRhdGEvNTEvaS8yMTk5MC9JbnRyb1J1c3RHLUJhc2UyTGluZS5vdGY");

html,
body,
#root {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", "intro-rust-g-base-2-line", sans-serif;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
